html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto';
    margin: 0;
}

.title {
	font-size: 100px;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.header-list {
    width: 100%;
    overflow: hidden;
    color: #ffffff !important;
    background-color: #ff4e26 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.header-list-button {
	transition: 0.2s;
	color: #ffffff;
	float: left;
	padding: 12px 24px;
	text-decoration: none;
}

.header-list-button:hover {
	background-color: #bf2c10;
}

.container {
	position: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 2000px;
	padding: 0px;
	text-align: center;
	color: white;
	background-color: black;
}

.article {
	max-width: 1200px;
	height: 540px;
	margin-left: auto;
	margin-right: auto;
	align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
	background-color: white;
	color: black;
	border-radius: 50px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.article:after {
	content: "";
	display: table;
	clear: both;
}

.article-text {
	float: left;
	width: 50%;
	height: 100%;
	text-align: justify;
}

.contact {
	background-color: #dddddd;
	padding: 50px;
	height: 800px;
}

.contact-box {
	max-width: 1200px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.image-main {
	width: 100%;
	opacity: 0.5;
}

.image-article {
	max-height: 400px;
	border-radius: 50px;
	border: 5px solid #444444;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
	display: block;
	margin: auto;
	margin-top: 60px;
	padding: 0;
}

.subtitle {
	font-size: 12px;
	color: #555555;
}

.input-field {
	padding: 10px;
	margin: 5px;
	width: 300px;
}

.input-textarea {
	padding: 10px;
	margin: 5px;
	line-height: 30px;
	max-width: 300px;
	max-height: 500px;
	min-width: 300px;
}

.input-button {
	background-color: #ff4e26;
	width: 324px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	font-size: 16px;
	transition: 0.2s;
}

.input-button:hover {
	background-color: #bf2c10;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
